@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Outfit', sans-serif;
}
body {
  background-color: #161015;
  color: #ffffff;
}
